<!-- Messages -->
<div class="flex-1 overflow-auto bg-[#DAD3CC]">
  <div class="py-2 px-3">
    <div class="flex justify-center mb-2">
      <div class="rounded py-2 px-4 bg-[#DDECF2]">
        <p class="text-sm uppercase"><%= (Time.zone.now).strftime("%B %e, %Y").upcase %></p>
      </div>
    </div>
    <div class="flex justify-center mb-4">
      <div class="rounded py-2 px-4 bg-[#FCF4CB]">
        <p class="text-xs">
          Messages to this chat and calls are now secured with end-to-end encryption. Tap for more info.
        </p>
      </div>
    </div>
    <% @notifications.each do |notification| %>
      <% if notification.user != current_user %>
        <div class="flex mb-2">
          <div class="rounded py-2 px-3 bg-[#F2F2F2]">
            <p class="text-sm text-teal"><%= notification.user.name %></p>
            <p class="text-sm mt-1"><%= notification.message %></p>
            <p class="text-right text-xs text-gray-dark mt-1"><%= notification.created_at.strftime("%I:%M %p") %></p>
          </div>
        </div>
      <% else %>
        <div class="flex justify-end mb-2">
          <div class="rounded py-2 px-3 bg-[#E2F7CB]">
              <p class="text-sm mt-1"><%= notification.message %></p>
              <p class="text-right text-xs text-gray-dark mt-1"><%= notification.created_at.strftime("%I:%M %p") %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
