<div class="w-full h-32 bg-[#449388]"></div>
<div class="w-[95%] md:w-[90%] mx-auto mt-[-8rem]">
  <div class="py-6 h-screen">
    <div class="flex border border-gray rounded shadow-lg h-full">
      <!-- Left -->
      <div class="w-1/3 border flex flex-col">
        <%= render "head" %>
        <%= render "contact" %>
      </div>
      <!-- Right -->
      <div class="w-2/3 border flex flex-col">
        <%= render "right_head" %>
        <%= render "messages" %>
        <%= render "input" %>
      </div>
    </div>
  </div>
</div>
