<!-- Contacts -->
<div class="bg-gray-100 flex-1 overflow-auto">
  <% @contacts.each do |contact| %>
    <% my_notifications = Notification.where(recipient: current_user.id, user_id: contact.id) %>
    <% current_notifications = Notification.where(user_id: current_user.id, recipient: contact.id) %>
    <% records = (my_notifications + current_notifications).sort_by(&:created_at) %>
    <a href="/message/<%= contact.id %>">
      <% if records.present? %>
        <% if contact != current_user %>
          <% if @recipient.present? %>
            <% if contact.id == @recipient.id %>
              <div class="bg-gray-300 px-3 flex items-center hover:bg-gray-400 cursor-pointer">
                <div>
                  <% if (contact.image).nil?  %>
                    <%= image_tag "img_avatar.png", class: "w-12 h-auto rounded-full" %>
                  <% else %>
                    <%= image_tag contact.image, class: "w-12 h-auto rounded-full" %>
                  <% end %>
                </div>
                <div class="ml-4 flex-1 border-b border-gray-200 py-4">
                  <div class="md:flex items-bottom justify-between">
                    <p class="text-gray-900 text-xs lg:text-sm"><%= contact.name %></p>
                    <p class="text-xs text-gray-600">
                      <%= records.last.created_at.strftime("%I:%M %p") %>    
                    </p>
                  </div>
                  <p class="text-gray-500 mt-1 text-xs lg:text-sm">
                    <% if records.last.user_id == current_user.id %>
                      <i class="fa-solid fa-check-double"></i>
                    <% end %>
                    <%= records.last.message %>
                  </p>
                </div>
              </div>
            <% else %>
              <div class="bg-white px-3 flex items-center hover:bg-gray-200 cursor-pointer">
                <div>
                  <% if (contact.image).nil?  %>
                    <%= image_tag "img_avatar.png", class: "w-12 h-auto rounded-full" %>
                  <% else %>
                    <%= image_tag contact.image, class: "w-12 h-auto rounded-full" %>
                  <% end %>
                </div>
                <div class="ml-4 flex-1 border-b border-gray-200 py-4">
                  <div class="md:flex items-bottom justify-between">
                    <p class="text-gray-900 text-xs lg:text-sm"><%= contact.name %></p>
                    <p class="text-xs text-gray-600">
                      <%= records.last.created_at.strftime("%I:%M %p") %>    
                    </p>
                  </div>
                  <p class="text-gray-500 mt-1 text-xs lg:text-sm">
                    <% if records.last.user_id == current_user.id %>
                      <i class="fa-solid fa-check-double"></i>
                    <% end %>
                    <%= records.last.message %>
                  </p>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="bg-white px-3 flex items-center hover:bg-gray-200 cursor-pointer">
              <div>
                <% if (contact.image).nil?  %>
                  <%= image_tag "img_avatar.png", class: "w-12 h-auto rounded-full" %>
                <% else %>
                  <%= image_tag contact.image, class: "w-12 h-auto rounded-full" %>
                <% end %>
              </div>
              <div class="ml-4 flex-1 border-b border-gray-200 py-4">
                <div class="md:flex items-bottom justify-between">
                  <p class="text-gray-900 text-xs lg:text-sm"><%= contact.name %></p>
                  <p class="text-xs text-gray-600">
                    <%= records.last.created_at.strftime("%I:%M %p") %>    
                  </p>
                </div>
                <p class="text-gray-500 mt-1 text-xs lg:text-sm">
                  <% if records.last.user_id == current_user.id %>
                    <i class="fa-solid fa-check-double"></i>
                  <% end %>
                  <%= records.last.message %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% if contact != current_user %>
          <% if contact.id == @recipient.id %>
            <div class="bg-gray-300 px-3 flex items-center hover:bg-gray-400 cursor-pointer">
              <div>
                <% if (contact.image).nil?  %>
                  <%= image_tag "img_avatar.png", class: "w-12 h-auto rounded-full" %>
                <% else %>
                  <%= image_tag contact.image, class: "w-12 h-auto rounded-full" %>
                <% end %>
              </div>
              <div class="ml-4 flex-1 border-b border-gray-200 py-4">
                <p class="text-gray-500 mt-1 text-xs lg:text-sm">
                  No messages yet...
                </p>
              </div>
            </div>
          <% else %>
            <div class="bg-white px-3 flex items-center hover:bg-gray-200 cursor-pointer">
              <div>
                <% if (contact.image).nil?  %>
                  <%= image_tag "img_avatar.png", class: "w-12 h-auto rounded-full" %>
                <% else %>
                  <%= image_tag contact.image, class: "w-12 h-auto rounded-full" %>
                <% end %>
              </div>
              <div class="ml-4 flex-1 border-b border-gray-200 py-4">
                <p class="text-gray-500 mt-1 text-xs lg:text-sm">
                  No messages yet...
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </a>
  <% end %>
</div>
